<div class="container-fluid" >
    <form [formGroup]="registrationForm" >
        <div class="form-row">
            <div class="container-fluid px-1 py-1 mx-auto">
              <div class="row d-flex justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-9 col-11">
                  <div class="card">
<img class="admin-logo" src="assets/img/logo.jpg" height="100" style="text-align: center; margin: 0 auto; " />
<h5 style="color: blue;">Online Check-in</h5>
<br>
<h6  style="text-align: center;">
    
Thank you for registering.
<br>
You will be called as soon as possible.
<br>
Please be Seated.
</h6>
</div>
</div>
</div>
</div>
</div>
</form>
</div>